<!doctype html>
<html dir="rtl">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width , initial-scale=1">
<link rel="stylesheet" type="text/css" href="static/css/style.css">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.rtl.min.css">
<link rel="stylesheet" type="text/css" href="static/css/fontiran.css">
<link rel="stylesheet" type="text/css" href="static/css/hover-min.css">
<link rel="stylesheet" type="text/css" href="static/css/slick-theme.css">
<link rel="stylesheet" type="text/css" href="static/css/slick.css">
<title>Index - خانه</title>
</head>

<body>
	<!-- start header-->
	<header>
			<nav class="navbar navbar-expand-md bg-nav navbar-dark  text-center">
				<div class="container">
				<a class="navbar-brand brand text-left" href="index.html">
                    <img src="static/img/logo.png" class="img-fluid" alt="logo" style="width: 10rem;">    
                </a>
				<button class="navbar-toggler btn-menu" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse menu" id="menu">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a href="index.html" class="nav-link p-2 active">خانه</a>
						</li>
						<li class="nav-item">
							<a href="shop.html" class="nav-link p-2">محصولات</a>
						</li>
						<li class="nav-item">
							<a href="contact%20us.html" class="nav-link p-2">تماس با ما</a>
						</li>
						<li class="nav-item">
							<a href="about%20us.html" class="nav-link p-2">درباره ما</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link p-2">
								<i class="fa fa-user-alt align-middle"></i>
							</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link p-2">
								<i class="fa fa-shopping-cart align-middle"></i>
							</a>
						</li>
						<form class="top-search position-relative" action="">
							<input type="text" class="form-control">
								<i class="fa fa-search align-middle position-absolute"></i>
						</form>
					</ul>
				</div>
				</div>
			</nav>
	</header>
	
	
	<!-- end header-->
	
	
	<!-- start top image-->
				<div class="img-top">
					<img src="static/img/hero-bg.jpg" class="img-fluid responsive" alt="top-img">
					<div class="overlay">
						<div class="container">
							<div class="row justify-content-center">
								<div class=" col-12 col-lg-6 col-md-7">
									<div class="content-top">
										<h3 class="text-center text-white mb-2"> محل زندگیت رو شاداب نگهدار</h3>
										<p class="text-center text-white">
										لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
										چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
										و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
										</p>
										<div class="text-center btn-buy">
											<button type="submit" class="p-3 text-white"> همین حالا خریدکن</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	<!-- end top image-->
	
	
	
	<!-- start main-->
	<main>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="titr-product text-center my-5"><strong> محصولات ما</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p1.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p2.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p3.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p4.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p5.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p6.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p7.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>	
			<div class="col-12 col-lg-3 col-sm-6">
				<div class="card border-0 card-product mb-5">
					<div class="card-img-top p-3">
						<div class="overlay-2">
							<div class="d-flex justify-content-around icon-product">
								<a href="#" class="text-center">
									<i class="fas fa-heart align-middle"></i>
								</a>
								<a href="#" class="text-center">
									<i class="fas fa-shopping-cart align-middle"></i>
								</a>
							</div>
						</div>
						<img src="static/img/p8.png" class="img-fluid d-block mx-auto" alt="product">
					</div>
					<div class="card-body text-product">
						<div class="d-flex justify-content-around">
							<p class="mb-0">گلدان مجلسی</p>
							<small class="mt-1"> 50000 تومان</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="text-center btn-more mb-5">
					<button type="button" class="p-3 text-white"> مشاهده بیشتر محصولات</button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<p class="titr-product text-center mt-3 mb-5"><strong> درباره ما</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="card border-0 card-about">
					<div class="card-img-top">
						<img src="static/img/about-img.jpg" class="img-fluid" alt="about">
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<div class="text-about">
					<p class="text-about mt-2 mt-lg-0">
						لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای .

					</p>
					<div class="btn-about mt-3 mb-2">
						<button type="button" class="p-3 text-white"> مشاهده کامل</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-light my-5 p-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<p class="titr-product text-center mb-5"><strong> دلیل انتخاب ما</strong></p>
				</div>
			</div>
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="card bg-transparent border-0 card-why">
						<div class="card-img-top">
							<img src="static/img/w1.png" class="img-fluid mx-auto d-block" alt="delivery">
						</div>
						<div class="card-body">
							<p class="text-center mb-3"><strong> ارسال رایگان</strong></p>
							<small class="text-center text-justify d-block">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ 
								و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
							</small>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card bg-transparent border-0 card-why my-5 my-lg-0">
						<div class="card-img-top">
							<img src="static/img/w2.png" class="img-fluid mx-auto d-block" alt="payment">
						</div>
						<div class="card-body">
							<p class="text-center mb-3"><strong> پرداخت امن و آسان</strong></p>
							<small class="text-center text-justify d-block">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ 
								و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
							</small>
						</div>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="card bg-transparent border-0 card-why">
						<div class="card-img-top">
							<img src="static/img/w3.png" class="img-fluid mx-auto d-block" alt="allow">
						</div>
						<div class="card-body">
							<p class="text-center mb-3"><strong> دسترسی شبانه روزی</strong></p>
							<small class="text-center text-justify d-block">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ 
								و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="titr-product text-center mb-5"><strong> ارتباط با ما</strong></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-lg-6">
				<div class="card border-0 card-map mb-3 mb-lg-0">
					<div class="card-img-top">
						<img src="static/img/map.png" class="img-fluid" alt="map">
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-6">
				<form class="form-contact">
					<div class="row">
						<div class="col-12">
							<input class="form-control" placeholder="نام و نام‌خانوادگی شما . . .">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<input class="form-control my-3" placeholder="ایمیل شما . . .">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<input class="form-control" placeholder="شماره تلفن شما . . .">
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<textarea class="form-control mt-3" cols="10" rows="10" placeholder="پیام شما . . ."></textarea>
						</div>
					</div>
					<div class="btn-contact my-3">
						<button type="submit" class="p-3 text-white hvr-shutter-out-horizontal"> ارسال پیام</button>
					</div>
				</form>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-12">
				<p class="titr-product text-center mb-5"><strong> نظرات شما</strong></p>
			</div>
		</div>
			<div class="row">
				<div class="slider2">
					<div class="col-12 col-lg-6">
						<div class="card border-0 card-comment">
							<div class="card-body">
								<div class="flex-column">
									<img src="static/img/client1.jpg" class="img-fluid mx-auto d-block" alt="comment">
									<p class="text-center mt-2"><strong> آقای ایمان بیاتی</strong></p>
									<small class="d-block text-center text-justify my-2">
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
									</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="card border-0 card-comment">
							<div class="card-body">
								<div class="flex-column">
									<img src="static/img/client2.jpg" class="img-fluid mx-auto d-block" alt="comment">
									<p class="text-center mt-2"><strong> خانم زهرا رسولی</strong></p>
									<small class="d-block text-center text-justify my-2">
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
									</small>
								</div>
							</div>
						</div>
					</div>	
					<div class="col-12 col-lg-6">
						<div class="card border-0 card-comment">
							<div class="card-body">
								<div class="flex-column">
									<img src="static/img/client1.jpg" class="img-fluid mx-auto d-block" alt="comment">
									<p class="text-center mt-2"><strong> آقای ایمان بیاتی</strong></p>
									<small class="d-block text-center text-justify my-2">
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
									</small>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="card border-0 card-comment">
							<div class="card-body">
								<div class="flex-column">
									<img src="static/img/client2.jpg" class="img-fluid mx-auto d-block" alt="comment">
									<p class="text-center mt-2"><strong> خانم زهرا رسولی</strong></p>
									<small class="d-block text-center text-justify my-2">
									لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد
									</small>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
	</div>
	</main>
	

	<!-- end main-->
	<!-- start footer-->
	<footer class="bg-footer mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<div class="flex-column contact-footer m-5">
						<a href="#" class="text-center d-block mx-auto p-3">
							<i class="fas fa-envelope align-middle"></i>
						</a>
						<p class="text-white text-center mt-3">text@gmail.com</p>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="flex-column contact-footer m-5">
						<a href="#" class="text-center  d-block mx-auto  p-3">
							<i class="fas fa-phone align-middle"></i>
						</a>
						<p class="text-white text-center mt-3">021-66332255</p>
					</div>
				</div>
				<div class="col-12 col-lg-4">
					<div class="flex-column contact-footer justify-content-center m-5">
						<a href="#" class="text-center d-block mx-auto  p-3">
							<i class="fas fa-map align-middle"></i>
						</a>
						<p class="text-white text-center mt-3 text-justify">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم </p>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-lg-3">
					<div class="flex-column social mb-4 mt-1">
						<p class="text-center text-white"><strong> ما در شبکه های اجتماعی</strong></p>
						<div class="icons-social bg-white mt-2 d-flex justify-content-around">
							<a href="#" class="px-3 pb-2">
								<i class="fab fa-instagram align-middle"></i>
							</a>
							<a href="#" class="px-3 pb-2">
								<i class="fab fa-telegram align-middle"></i>
							</a>
							<a href="#" class="px-3 pb-2">
								<i class="fab fa-whatsapp align-middle"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<p class="text-center text-white copyright">
						تمامی حقوق سایت نزد مالک سایت محفوظ است
					</p>
				</div>
			</div>
		</div>
	</footer>
	
	
	
	
	
	
	
	<!-- end footer-->
	

</body>
<script src="static/js/jquery-3.6.0.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/slick.min.js"></script>
<script src="static/js/all.min.js"></script>
<script src="static/js/main.js"></script>
</html>
